*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #dddddd;
}
.header_title{
    text-align: center;
    background-color: #dddddd;
    height: auto;
    padding: 15px;
}
section{



    display: flex;
    justify-content: space-around;
    height: 90vh;
}
p{
    padding: 3px;
    color: white;
    background-color: #434548;
    text-align: justify;
    height: auto;
}

 .header_art{
     text-align: center;
     padding-top: 8px;
     background-color: white;
 }
article {

    width: 24vw;
    display: inline-block;
}
footer{
    background-color: #98c3f3;
}