*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #f6f1f1;
}
.header_title{
    text-align: center;
    background-color: #474747;
    height: auto;
    padding: 15px;
    color: white;
}
section{
    display: flex;
    justify-content: space-around;
    height: auto;
    border-radius: 15px;
    background-color: #d4d4d4;
    vertical-align: center;
}
p{
    padding: 3px;
    text-align: justify;
    height: auto;
    background-color: white;
}
 .header_art{
     text-align: center;
     padding-top: 8px;
     background-color: white;
 }
article {
    width: 24vw;
    display: inline-block;
}
footer{
    background-color: white;

}
.footer_page{
    background-color: #474747;
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
}