#nav {
    list-style-type: none;
    width: 30vw;
    height: 5vh;
}
li {
    float: left;
}
a{
    display: block;
    padding: 8px;
    background-color: #212F3D;
    color: white;
    border-right: white solid 1px;
}
a:hover{
    color: gold;
}