*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #faf7f7;
}
.header_title{
    text-align: center;
    background-color: #474747;
    height: auto;
    padding: 15px;
    color: white;
}
section{
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #faf7f7;
    border: solid 3px #474747;
}
article {
    width: 24vw;
    height: auto;
    display: inline-block;
    background-color: white;
}
.header_art{
    text-align: center;
    padding-top: 8px;
    background-color: white;
}
p{
    padding: 5px;
    text-align: justify;
    background-color: white;
}
.footer{
    background-color: white;
}
.footer_page{
    background-color: #474747;
    color: white;
    width: 100%;
    bottom: 0;
    position: absolute;
}